{#
/**
 * @file
 * Default theme implementation for SoundManager audio player.
 *
 * Available variables:
 * - plugin_id: the name of the plugin being used for templating.
 * - plugin_theme: the name of the specific plugin theme, if it exists.
 * - files: array of render info for each file.
 * - settings: array of settings for thie player.
 *
 * @see template_preprocess_audioplayer__soundmanager()
 *
 * @ingroup themeable
 */
#}
<div class="audiofield">
  {% for file in files %}
    <div id="audiofield-audio-player-{{ file.id }}" class="soundmanageraudio_frame">
      <a href="{{ file.url }}" class="sm2_button">{{ file.description }}</a>
      <label for="audiofield-audio-player-{{ file.id }}">{{ file.description }}</label>
    </div>
  {% endfor %}
</div>
