{#
/**
 * @file
 * Default theme implementation for Projekktor audio player.
 *
 * Available variables:
 * - plugin_id: the name of the plugin being used for templating.
 * - plugin_theme: the name of the specific plugin theme, if it exists.
 * - files: array of render info for each file.
 * - settings: array of settings for thie player.
 *
 * @ingroup themeable
 */
#}
<div class="audiofield">
  {% for file in files %}
    <div class="audiofield-player">
      <audio id="{{ file.id }}" preload="{% if settings.audio_player_lazyload == 1 %}none{% else %}auto{% endif %}" class="audiofield-{{ plugin_id }} {{ plugin_id }}" controls>
        <source src="{{ file.url }}" type="audio/mpeg">
         Your browser does not support the audio element.
      </audio>
      <label>{{ file.description }}</label>
    </div>
  {% endfor %}
</div>
