{#
/**
 * @file
 * Playlist theme implementation for Wavesurfer audio player.
 *
 * Available variables:
 * - plugin_id: the name of the plugin being used for templating.
 * - plugin_theme: the name of the specific plugin theme, if it exists.
 * - files: array of render info for each file.
 * - settings: array of settings for thie player.
 *
 * @ingroup themeable
 */
#}
<div class="audiofield">
  <div class="audiofield-wavesurfer playlist" id="wavesurfer_playlist-{{ settings.unique_id }}">
    <div class="waveform"></div>
    <div class="player-button previous">Previous</div>
    <div class="player-button playpause play">Play</div>
    <div class="player-button next">Next</div>
    <input type="range" class="volume" min="0" max="10" value="{{ settings.audio_player_initial_volume }}">
    <label for="wavesurfer_playlist">Playing:</label>
    <ol class="playlist">
      {% for file in files %}
        <li class="track" data-src="{{ file.url }}" data-peakpath="{{ file.peakpath }}">{{ file.description }}</li>
      {% endfor %}
    </ol>
  </div>
</div>
